<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h2>Three Equal Columns</h2>

<div class="row">
  <div class="column1">
    <h2>Home</h2>
    <p>Wellcome to Home Page. Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        <br><br>
        <button type="button" onclick="alert('Home Page')">Home</button>
  </div>
  <div class="column2">
    <h2>About</h2>
    <p>Wellcome About Page. Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        <br><br>
        <button type="button" onclick="alert('About Page')">About</button>
  </div>
  <div class="column3">
    <h2>Contact</h2>
    <p>Wellcome to Contact Page. Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        <br><br>
        <button type="button" onclick="alert('Contact Page')">Contact</button>
  </div>
</div>

</body>
</html>
